{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="banner">
        <div class="bnr2">
        </div>
    </div>
    <div class="review">
        <div class="container">
            <h2>{{ category.name }}</h2>

            <div class="review-md1">
                {% for product in products %}
                    <a class="text-center" href="{% url 'personal:details' product.slug %}">
                        <div class="col-md-4 sed-md margin-top-20">
                            <div class=" col-1">
                                <img class="img-responsive center-block" src="{{ product.imageUrl }}" alt="">
                                <h4>{{ product.title }}</h4>
                                <p>{{ product.price }}</p>
                                <p>{{ product.availability }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock content %}