{% extends 'base.html' %}

{% block content %}

<section class="about_us section_padding">
    <div class="container">
        <div class="whole-wrap">
            <div class="container box_1170">
                {% for product in products %}
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{product.imageUrl}}" alt="" class="img-fluid">
                        </div>

                        <div class="col-md-9 mt-sm-20">
                            <h1>{{product.title}}</h1>
                            <h2>{{product.price}}</h2>
                            <h3>{{product.availability}}</h3>
                            <p>{{product.description}}</p>
                            <br>
                            <a href="#" class="btn_1">Add to cart</a>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

    {% endblock content %}